<!DOCTYPE html>
<html>
  <head>
    <title>ReactChatApp</title>
    <%= render 'layouts/rails_default' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
  <!--  Webpackの出力先の読み込みはページの最後に行わないといけない？-->
  <%= javascript_include_tag 'chatRoom.bundle.js', 'searchForm.bundle.js' %>
</html>
